<div class="col-lg-3">
<div class="thumbnail">
<%= link_to user_path(user.username) do %>
<%= gravatar_tag user.email, size: 200 %>
<% end %>
<div class="caption">
<h4><%= user.username %></h4>
<p>Friendship Actions</p>
</div>
</div>
</div>