<div class="jumbotron">
  <div class="container">
  	<div class="row">

  		<div class="col-lg-4">
			<%= gravatar_tag @user.email, size: 200 %>
  		</div>

  		<div class="col-lg-4">
  			<h3><%= @user.username %></h3>
  			<p>Age: </p>
  			<p>Gender: </p>
  		</div>

  		<div class="col-lg-4">
  			<h3>Who am I</h3>
  			<small>
  				Bacon ipsum dolor amet chicken in doner chuck corned beef eu non tempor elit ipsum culpa shank. Swine fatback ground round in, tri-tip irure eu prosciutto occaecat picanha cupim tenderloin bacon.
  			</small>
  		</div>

  	</div>
  </div>
</div>